.cc-site--container {
  flex-direction: column;
  display: flex;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: relative;
}

.cc-container {
    max-width: $site-width;
    margin: 0 auto;
}


body {
  &.stuck {
    .site-header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
    }

    .hero {

      // This is a good example of a 'magic number' - google it
      margin-bottom: 97px;
    }
  }
}
