// One of the first files to be included in the screen file so any variables
// Defined here will be available everywhere.
$site-width: 1230px;

$f-title: 'Nixie One', cursive;
$f-body: 'Libre Baskerville', serif;
$f-countdown: 'Sanchez', serif;


$c-body: #222222;

$c-lightblue: #8ab2e5;
$c-darkblue: #4d74a5;
$c-beige: #f7f3e9;
$c-brown: #938a83;
$c-pink: #e5bdbb;
$c-white: #fff;

$bp-tablet: 600px;
$bp-header: 950px;
$bp-countdown: 1015px;
