.cc-component--case-study {
  > .header {
    margin-bottom:45px;

    > .inner {
      display: flex;
      align-items: center;
      margin-bottom:25px;
    }
  }

  > .list {
    margin: 0;
    padding: 0;
    list-style: none;

    > .item {
      margin-bottom: 35px;

      > .casestudy {
        text-decoration: none;
        color: $c-body;

        > .image {
          padding-bottom: 56%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          > .meta {
            padding:15px 20px;
            background:$c-beige;
            display: inline-block;
          }
        }

        > .title {
          background: $c-beige;
          display: flex;
          flex-direction: row;
          align-content: space-between;

          &:after {
            content: '';
            display: block;
            width: 75px;
            background-image: url('../img/icons/arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: initial;
            border-left: 2px solid $c-white;
            margin-left: 15px;
          }

          > h4 {
            font-size: 25px;
            padding:15px 20px;
          }
        }
      }
    }
  }
}
