.cc-component--gallery {

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    list-style: none;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0px;


    > .item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
