.site-header {
  background: $c-beige;
  padding: 12px 0;
  position: relative;

  > .cc-container {
    > .inner {
      display: flex;
      align-items: center;

      > .toggle {
        display: block;
      }

      > .list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        z-index: 999;

        &.active {
          display: block;
        }

        > .item {
          > .link {
            display: flex;
            align-items: center;
            padding: 12px;
            width: 100%;
            border-radius: 0;



          &--blue {
            background-color: $c-lightblue;

            path {
              fill: $c-lightblue;
            }
          }
          &--pink {
            background-color: $c-pink;

            path {
              fill: $c-pink;
            }
          }
          &--brown {
            background-color: $c-brown;

            path {
              fill: $c-brown;
            }
          }

            > .icon {
              width: 35px;
              height: 35px;
              background-color: #fff;
              border-radius: 50%;
              display: block;
              margin-right: 12px;
              transform: rotate(25deg);

              > svg {
                height: auto;
                display: block;
                max-width: 100%;
                transform: translate(2px, 4px);
              }
            }

            > .text {
              font-size: 14px;
              font-weight: 600;
              color: #fff;
              letter-spacing: 1px;
            }
          }
        }
      }
      > .content {
        text-align: right;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        > h5 {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (min-width: $bp-header) {
    position: inherit;
    padding: 12px 40px;

    > .cc-container {
      > .inner {
        flex-direction: row;

        > .list {
          display: flex;
          position: relative;
          top: 0;
          width: auto;
          border-bottom: none;


          > .item {
            margin-right: 32px;

            > .link {
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  @media (min-width: $bp-countdown) {
     > .cc-container {
      > .inner {
        > .list {

          > .item {

            > .link {
                width: auto;


              > .text {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
