.hero {
  overflow: hidden;

  > .items {
    > .item {
      &--content {
        text-align: center;
        @include cc-padding;

        .logo {
          margin: 0 auto 10px;
          max-width: 70%;
        }
      }

      &--background {
        display: none;
      }
    }
  }

  @media (min-width: $bp-tablet) {
    // remove the image on mobile - full width content
    > .items {
      display: flex;
      width: 200%;

      > .item {
        flex: 0 0 50%;

        > .columns {
          justify-content: flex-end;
          align-items: stretch;
          display: flex;
          height: 100%;

          > .column {
            width: calc(50% - 20px);
          }
        }

        &--content {
          text-align: left;
          margin-left: -50%;

          .logo {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
          }

          > .columns {
            max-width: $site-width;
            margin-left: auto;
            margin-right: auto;
            justify-content: flex-start;
          }
        }

        &--background {
          display: block;

          > .columns {
            > .column {
              background-size: cover;
              background-position: center center;
              padding-bottom: 28%;

              > .column {
                padding-right: 125px;
              }
            }
          }
        }
      }
    }
  }
}
