.cc-component--homepage-content {
  @include cc-padding;

  > .cc-container {
    > .columns {
      display: flex;

      > .column {
        flex: 1;

        &:nth-child(odd) {
            padding-right: 15px;
        }

        &:nth-child(even) {
            padding-left: 15px;
        }

         .header {
          margin-bottom:45px;

          > .inner {
            display: flex;
            align-items: center;
            margin-bottom:25px;
          }
        }
      }
    }
  }
}
