.cc-component--homepage-content {
  padding-top: 40px;
  padding-bottom: 40px;

  > .cc-container {
    > .columns {

      > .column {

        &:first-child {
          margin-bottom: 20px;
        }

        > .widget {

            > .title {

            }

            .link {
              display: block;
              text-align: center;
            }

            p {
              margin-bottom: 30px;
            }
        }

         .header {
           margin-bottom:45px;

          > .inner {
              align-items: center;
              margin-bottom:25px;
          }
        }
      }
    }
  }
    @media (min-width: $bp-tablet) {

    > .cc-container {
      > .columns {
          display: flex;

        > .column {
            flex: 1;

          &:nth-child(odd) {
            padding-right: 15px;
          }

          &:nth-child(even) {
            padding-left: 15px;
          }

          > .widget {
            > .title {
            }
              .link {
                display: inline-block;
              }
              p {
                margin-bottom: 30px;
              }
          }

           .header {
             margin-bottom:45px;

            > .inner {
                display: flex;
                align-items: center;
                margin-bottom:25px;
            }
          }
        }
      }
    }
  }
}
